{% extends 'base.html' %}

{% block title %}
    <title>CJ's Market | Market</title>
{% endblock %}

{% block content %}
    <br>
    <br>
    <!-- ======= Market Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Available Items on the market for today</h2>
          <p>Click on one of the items to start buying</p>
        </div>



        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        {% for item in items %}
        {% include "include/items_modals.html" %}
            <div class="col-lg-4 menu-item filter-starters">
              {% if item.id == 1 %}
              <img src="static/img/IdeaPad_gaming.jpg" class="menu-img" alt="">
              {% elif item.id == 2 %}
              <img src="static/img/Iphone_10.jpg" class="menu-img" alt="">
              {% elif item.id == 3 %}
              <img src="static/img/Dell_inspirion.jpg" class="menu-img" alt="">
              {% elif item.id == 4 %}
              <img src="static/img/Oppo_A15S.jfif" class="menu-img" alt="">
              {% endif %}
              <div class="menu-content">
                <a class="btn btn-outline btn-info model-btn" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}" style="border: none;">{{item.name}}</a><span><button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}" style="background-color: rgb(26, 24, 20);color: #5e81cd;border: none;">${{item.price}}</button></span>
              </div>
            </div>
        {% endfor %}
      </div>
    </section><!-- End Market Section -->

    
    <!-- Owner -->
    <section id="menu"  class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Owned Items</h2>
          <p>Click on sell item to sell the item back to market</p>
        </div>

        

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        {% for owned_item in owned_items %}
           {% include "include/owned_items_modals.html" %}
             <div class="col-md-6">
                 <div style="margin-bottom: 10px;background-color: rgb(26, 24, 20);border-color: #5e81cd;" class="card text-center">
                 <br>
                 {% if owned_item.id == 1 %}
                  <img src="static/img/IdeaPad_gaming.jpg" style="align-items:center;"  alt="">
                 {% elif owned_item.id == 2 %}
                  <img src="static/img/Iphone_10.jpg" style="align-items:center;"  alt="">
                 {% elif owned_item.id == 3 %}
                  <img src="static/img/Dell_inspirion.jpg" style="align-items:center;"  alt="">
                 {% elif owned_item.id == 4 %}
                  <img src="static/img/Oppo_A15S.jfif" style="align-items:center;"  alt="">
                 {% endif %}
                      <div class="card-body ">
                          <h5 class="card-title">{{ owned_item.name }}</h5>
                          <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                              Sell this Item
                          </button>
                          <p class="card-text"><strong>
                              This item costs {{ owned_item.price }}$
                          </strong></p>
                      </div>
                  </div>
                  <br>
                  <br>
             </div>
             <br>
          {% endfor %}
      </div>
    </section>

{% endblock %}
